@import "node_modules/purecss/build/pure-min";
@import "node_modules/purecss/build/grids-responsive-min";

$assets-path: "assets";
$fonts-path: "#{$assets-path}/fonts";
$images-path: "#{$assets-path}/images";

@function font-url($name) {
  @return url("#{$fonts-path}/#{$name}");
}

@function image-url($name) {
  @return url("#{$images-path}/#{$name}");
}

@font-face {
  font-family: "GlacialIndifference";
  src: font-url("GlacialIndifference-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlacialIndifference";
  src: font-url("GlacialIndifference-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GlacialIndifference";
  src: font-url("GlacialIndifference-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt-Heavy";
  src: font-url("CooperHewitt-Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*
 * General
 */
$sm-width: 35.5em; /* sm ≥ 568px */
$md-width: 48em;   /* md ≥ 768px */
$lg-width: 64em;   /* lg ≥ 1024px */
$xl-width: 80em;   /* xl ≥ 1280px */

$menu-height: 6em;
$menu-height-xl: 13em;
$menu-top-margin: 1em;
$menu-font-size: 1.3em;
$menu-font-size-xl: 1em;
$menu-margin-xl: 9em;

$menu-slide-transition: 0.5s;

$menu-roll-up-transition: 0.5s;
$menu-roll-up-height: 3em;
$menu-roll-up-margin: 0;

$glacial-indifference: "GlacialIndifference", sans-serif;
$cooper-hewitt-heavy: "CooperHewitt-Heavy", sans-serif;

$light-blue: #a7cde2;
$middle-blue: #38a0bb;
$dark-blue: #1a203a;
$light-pink: #fae8d2;
$dark-pink: #ff63b1;
$green: #5fc831;
$light-red: #c55;
$dark-red: #c62a2f;
$yellow: #ffbd4a;


* {
  box-sizing: border-box;
}

body, #root-node {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
  background-color: $light-pink;
}


h1, h2, h3, h4, h5, h6
.heading {
  color: $dark-red;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

/*
 * Header
 */
.pure-menu {
  height: $menu-height;
  background-color: $dark-blue;
  transition: height $menu-roll-up-transition;

  .pure-menu-heading {
    float: left;
    padding: 0;
  }

  .header-title {
    font-family: $cooper-hewitt-heavy;

    .header-title-main {
      color: white;
    }

    .header-langue {
      color: $dark-pink;
      font-size: 1.2em;
      font-style: italic;
    }

    .header-title-date {
      display: none;
    }
  }

  .heading-logo {
    position: absolute;
    right: 3px;
    top: 1em;

    img {
      width: 10em;
    }
  }

  .menu-toggle {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0 1em;
  }

  a:hover,
  a:focus,
  a:active,
  .menu-toggle:hover,
  .menu-toggle:focus,
  .menu-toggle:active {
    outline: none;
  }

  @media screen and (min-width: $xl-width) {
    height: $menu-height-xl;

    .header-title {
      left: 1em;
      font-family: $cooper-hewitt-heavy;

      .header-title-main {
        font-size: 1.2em;
      }

      .header-langue {
        font-size: 1.5em;
      }

      .header-title-date {
        display: block;
        color: white;
        font-size: 0.8em;
        letter-spacing: 0.4em;
      }
    }

    .pure-menu-list {
      transition: margin-top $menu-roll-up-transition;
      margin-top: $menu-margin-xl;
    }

    .header-title, .social-media, .heading-logo {
      transition: bottom $menu-roll-up-transition, opacity $menu-roll-up-transition;
      position: relative;
      bottom: 0;
    }

    .heading-logo {
      float: right;
      top: unset;
      margin-top: $menu-margin-xl - 1.1em;
    }

    .menu-toggle {
      display: none;
    }

    &.roll-up {
      height: $menu-roll-up-height;

      .header-title, .social-media, .heading-logo {
        bottom: $menu-height-xl - $menu-roll-up-height;
      }

      .pure-menu-list {
        margin-top: $menu-roll-up-margin;
      }

      .heading-logo {
        opacity: 0;
      }
    }
  }
}

.pure-menu-list {
  font-family: $glacial-indifference;
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
  width: 100%;

  .pure-menu-item:after {
    content: "";
    display: block;
    height: 2px;
    width: 4em;
    background-color: transparent;
    transition: all $menu-slide-transition;
    position: relative;
    left: $menu-font-size;

    @media screen and (min-width: $xl-width) {
      left: $menu-font-size-xl;
    }
  }

  @mixin after-decorator {
    width: 3em;
    background-color: white;
  }

  .pure-menu-selected {
    @extend .disabled;

    &:after {
      @include after-decorator;
    }
  }

  .pure-menu-item {
    display: block;
    z-index: 2;
    margin: 0;

    .pure-menu-link {
      color: $light-blue;
      padding: 0.5em 1em 0.2em 1em;
      background-color: transparent;
      font-size: $menu-font-size;
      text-decoration: none;
      margin: 0;
    }

    &:hover:after,
    &:focus:after,
    &:active:after {
      @include after-decorator;
    }

    @media screen and (min-width: $xl-width) {
      display: inline-block;

      .pure-menu-link {
        font-size: $menu-font-size-xl;
      }
    }
  }
}

/*
 * Menu
 */
#menu {
  position: absolute;
  background-color: $dark-blue;
  top: $menu-height;
  border-top: 3px solid white;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  .social-media {
    position: absolute;
    bottom: $menu-height + 1em;
    text-align: center;
    width: 100%;
  }

  @media screen and (min-width: $xl-width) {
    background-color: transparent;
    height: 100%;
    width: 0;
    top: 0;

    .social-media {
      left: 95vw;
      bottom: 9em;
    }
  }
}

#menu:before {
  content: "";
  display: block;
}

#menu.opened {
  transform: translateX(0);
  transition: transform $menu-slide-transition;

  @media screen and (min-width: $xl-width) {
    transform: translateX(0);
    transition: none;
  }
}

#menu.closed {
  transform: translateX(-101%);
  transition: transform $menu-slide-transition;

  @media screen and (min-width: $xl-width) {
    transform: translateX(0);
    transition: none;
  }
}

/*
 * Content container
 */
.content-container {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: $menu-height;
  text-align: center;

  .markdown {
    * { font-family: $glacial-indifference; }

    min-height: 100%;
    text-align: left;
    padding: 1em 1em 0 5em;
    z-index: 1;
    font-size: 1.3em;

    .main-title {
      position: absolute;
      transform: translateX(-102%) translateY(-118%) rotate(-90deg);
      transform-origin: 100% 100%;
      font-family: $glacial-indifference;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      text-align: right;
      color: $dark-blue;
    }
  }

  @media screen and (min-width: $md-width) {
    .markdown {
      padding-left: 6em;

      .main-title {
        transform: translateX(-103%) translateY(-118%) rotate(-90deg);
      }
    }
  }

  @media screen and (min-width: $xl-width) {
    margin-top: $menu-height-xl;
  }

}

.content-container:after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity $menu-slide-transition;
  background-color: #eee;
  background-color: rgba(0,0,0,0.4);
  z-index: -1;
}

.content-container.darken:after {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
}

/*
 * Index
 */
.landing {
  /*background-image: image-url("landing-background.png");
  background-repeat: no-repeat;*/
  background-color: $dark-blue;
  border-bottom: 0.5em solid $yellow;
  border-top: 0.5em solid $yellow;
  padding: 1.2em 0.8em;
  text-align: left;
  margin-top: 0;

  .landing-main * {
    color: $middle-blue;
    font-family: $cooper-hewitt-heavy;
    font-size: 2.4em;
  }

  .langue {
    font-style: italic;
    color: $dark-pink;
  }

  .landing-date {
    color: $yellow;
    font-family: $glacial-indifference;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0;
  }

  .enter {
    $button-dim: 5em;
    $font-size: 1.2em;

    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
    height: $button-dim;
    width: $button-dim;
    border-radius: $button-dim;
    border: 0.2em solid $dark-pink;
    font-family: $cooper-hewitt-heavy;
    font-size: $font-size;
    line-height: $font-size;
    color: $dark-blue;
    background-color: $middle-blue;
    padding: 1.8em 0;
    text-align: center;
  }

  .landing-logo {
    position: absolute;
    bottom: 1em;
    right: 1em;

    img {
      width: 10em;
    }
  }

  @media screen and (min-width: $md-width) {
    /*background-image: image-url("landing-background-md.png");
    background-repeat: no-repeat;*/
    background-position: top right;

    .landing-main * {
      font-size: 3em;
    }

    .enter {
      left: 1em;
      bottom: 1em;
      font-size: 1.5em;
    }

    .landing-logo img {
      width: 15em;
    }
  }

  @media screen and (orientation: landscape) and (max-width: $md-width) {
    .landing-main * {
      font-size: 1.6em;
    }

    .landing-date {
      font-size: 1.2em;
    }

    .enter {
      bottom: unset;
      left: unset;
      right: 1em;
      top: 1em;
    }
  }
}

.home {
  .box {
    background-color: $light-blue;
    padding: 0.7em 1em;

    h1 {
      text-transform: uppercase;
      margin: 0;
      font-size: 1em;
    }

    p {
      font-size: 0.8em;
    }

    .read-on {
      text-transform: uppercase;
      text-decoration: none;
      color: $light-pink;
    }
  }
}
.chi-siamo {

  img {
    float: left;
    height: 8em;
    width: 8em;
    margin-right: 2em;

    @media screen and (min-width: $lg-width) {
      height: 10em;
      width: 10em;
    }
  }

  p {
    margin-top: 2em;
  }
}
