.chi-siamo {
  img {
    float: left;
    height: 8em;
    width: 8em;
    margin-right: 2em;

    @media screen and (min-width: $lg-width) {
      height: 10em;
      width: 10em;
    }
  }

  p {
    margin-top: 2em;
  }
}
