@import "node_modules/purecss/build/pure-min";
@import "node_modules/purecss/build/grids-responsive-min";
@import "build/assets-hash.scss";

$assets-path: "assets";
$fonts-path: "#{$assets-path}/fonts";
$images-path: "#{$assets-path}/images";

@function font-url($name) {
  @return url("#{$fonts-path}/#{$name}?#{$assets-hash}");
}

@function image-url($name) {
  @return url("#{$images-path}/#{$name}?#{$assets-hash}");
}

@font-face {
  font-family: "GlacialIndifference";
  src: font-url("GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlacialIndifference";
  src: font-url("GlacialIndifference-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GlacialIndifference";
  src: font-url("GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt-Heavy";
  src: font-url("CooperHewitt-Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*
 * General
 */
 $sm-width: 35.5em; /* sm ≥ 568px */
 $md-width: 48em;   /* md ≥ 768px */
 $lg-width: 64em;   /* lg ≥ 1024px */
 $xl-width: 80em;   /* xl ≥ 1280px */

 $header-height: 6em;
 $header-height-lg: 13em;
 $menu-max-width: 25em;
 $menu-top-margin: 1em;
 $menu-font-size: 1.3em;
 $menu-font-size-lg: 1em;
 $menu-margin-lg: 10.5em;

 $menu-slide-transition: 0.5s;

 $menu-roll-up-transition: 0.5s;
 $menu-roll-up-height: 3em;
 $menu-roll-up-margin: 0.7em;

 $glacial-indifference: "GlacialIndifference", sans-serif;
 $cooper-hewitt-heavy: "CooperHewitt-Heavy", sans-serif;

 $background: #fae8d2;

 $light-blue: #a7cde2;
 $middle-blue: #38a0bb;
 $dark-blue: #1a203a;

 $yellow: #ffbd4a;
 $pink: #ff63b1;
 $red: #c62a2f;

 * { box-sizing: border-box; }

body, #root-node {
  margin: 0;
  padding: 0;
  color: black;
  background-color: $background;
}

.no-scroll {
  overflow: hidden;
}

.align-left {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.content-container {
  display: block;
  position: relative;
  margin-top: $header-height;

  .markdown {
    &, * { font-family: $glacial-indifference; }

    min-height: 100%;
    padding: 1em 1em 0 3.3em;
    z-index: 1;
    font-size: 1.1em;
    text-align: justify;

    .main-title {
      position: absolute;
      transform: translateX(-102%) translateY(-118%) rotate(-90deg);
      transform-origin: 100% 100%;
      font-family: $glacial-indifference;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      text-align: right;
      color: $dark-blue;
      width: 12em;
    }
  }

  @media screen and (min-width: $md-width) {
    .markdown {
      padding-left: 6em;
      font-size: 1.3em;
    }
  }

  @media screen and (min-width: $lg-width) {
    margin-top: $header-height-lg;
  }
}

.content-container:after {
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity $menu-slide-transition;
  background-color: #eee;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

.content-container.darken:after {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

@import
  "header.scss",
  "index.scss",
  "home.scss",
  "langue.scss",
  "chi-siamo.scss",
  "sostienici.scss",
  "contatti.scss",
  "luoghi.scss";
